In [5]:
# Import required library
import pandas as pd

# Read the CSV file
df = pd.read_csv('portfolio_data.csv')

# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year

# Drop specific years and BTC column
final_dataset = df.drop('BTC', axis=1)

# Display top 5 rows of the final dataset
print("\nFinal Dataset (Top 5 rows):")
display(final_dataset.head())

# Optional: Reset index after filtering
final_dataset = final_dataset.reset_index(drop=True)

# Save the final dataset to CSV
final_dataset.to_csv('filtered_portfolio.csv', index=False)
print("\nDataset has been saved to 'filtered_portfolio.csv'")

Final Dataset (Top 5 rows):

        Date        AMZN        DPZ       NFLX  year
0 2013-05-01  248.229996  51.190983  30.415714  2013
1 2013-05-02  252.550003  51.987320  30.641428  2013
2 2013-05-03  258.049988  52.446388  30.492857  2013
3 2013-05-06  255.720001  53.205257  30.098572  2013
4 2013-05-07  257.730011  54.151505  29.464285  2013

Dataset has been saved to 'filtered_portfolio.csv'